<?xml version="1.0"?>
<!--
  ~ Copyright © 2023 Studio Raz. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <srclarity>
            <general>
                <enabled>0</enabled>
            </general>
        </srclarity>
    </default>
</config>
