<?xml version="1.0"?>
<!--
  ~ Copyright © 2023 Studio Raz. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="srclarity" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Clarity</label>
            <tab>studioraz</tab>
            <resource>SR_Clarity::srclarity_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tracking_code" translate="label comment" sortOrder="100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clarity Tracking Code</label>
                    <validate>required-entry validate-alphanum</validate>
                    <comment><![CDATA[Please enter your <a href="https://clarity.microsoft.com/projects/" target="_blank">Microsoft Clarity</a> tracking code here]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
